[data-testid="plans-texture"] {
  opacity: 1 !important;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAZUlEQVR4nK3NIQ5DIRBAwUdB4UESEuy/DiftSVB4FG5Xb0LybYOuGzeu9/4tpQCw1uLXrTVCrRURAeD2GIOw9ybnDMDt53kIKSWccwDcPufw8d6jqqgqt+ec/yhijJgZZsZtEeEF7iBH9bm4LVYAAAAASUVORK5CYII=") !important;
  background-repeat: repeat !important;
  background-size: 8px 8px !important;
}
