@import "tailwindcss";

@theme {
  --color-brand-dark: #0E2337;
  --color-brand-blue: #0076DD;
  --color-brand-blue-hover: #005BB5;
  --color-brand-light: #64B0F3;
  --color-brand-yellow: #FACB5C;
  --color-brand-green: #B4BF8A;
  --color-brand-gray: #F3F4F6;
  --color-brand-border: #E5E7EB;
}
